:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #0d6efd;
  --bs-link-hover-color: #0a58ca;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
}

h6, h5, h4, h3, h2, h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {
  h3 {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  h4 {
    font-size: 1.5rem;
  }
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul {
  padding-left: 2rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 0.875em;
}

mark {
  padding: 0.1875em;
  background-color: var(--bs-highlight-bg);
}

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: var(--bs-link-color);
  text-decoration: underline;
}

a:hover {
  color: var(--bs-link-hover-color);
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

pre,
code,
kbd,
samp {
  font-family: var(--bs-font-monospace);
  font-size: 1em;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em;
}

pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

code {
  font-size: 0.875em;
  color: var(--bs-code-color);
  word-wrap: break-word;
}

a > code {
  color: inherit;
}

kbd {
  padding: 0.1875rem 0.375rem;
  font-size: 0.875em;
  color: var(--bs-body-bg);
  background-color: var(--bs-body-color);
  border-radius: 0.25rem;
}

kbd kbd {
  padding: 0;
  font-size: 1em;
}

figure {
  margin: 0 0 1rem;
}

img,
svg {
  vertical-align: middle;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #6c757d;
  text-align: left;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

[role=button] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}

select:disabled {
  opacity: 1;
}

[list]:not([type=date]):not([type=datetime-local]):not([type=month]):not([type=week]):not([type=time])::-webkit-calendar-picker-indicator {
  display: none !important;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
}

@media (min-width: 1200px) {
  legend {
    font-size: 1.5rem;
  }
}

legend + * {
  clear: left;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

::file-selector-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

iframe {
  border: 0;
}

summary {
  display: list-item;
  cursor: pointer;
}

progress {
  vertical-align: baseline;
}

[hidden] {
  display: none !important;
}

html, body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #FFFFFF;
}

a:hover {
  color: #FF0000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

p {
  font-size: 18px;
}

.hidden {
  display: none;
  cursor: default;
}

.opacity-0 {
  opacity: 0;
  cursor: default;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.z-index-99 {
  z-index: 99;
}

.wrapper {
  max-width: 1180px;
  padding: 0 20px;
  margin: auto;
}

.button {
  background: #FF0000;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: 700;
  padding: 7px 20px;
  display: block;
  margin: auto;
  margin-top: 0;
  font-size: 22px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button:hover {
  background: #FFFFFF;
  color: #000000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button__container {
  position: fixed;
  bottom: 70px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 130px;
}

.button__socials {
  border-radius: 0 100px 100px 0;
  display: block;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  padding-right: 10px;
}

.button__socials-whatsapp {
  background: #128C7E;
}

.button__socials-telegram {
  background: #4995BE;
}

.button__contacts {
  font-size: 16px;
}

.button__top {
  background: #FF0000;
  height: 60px;
  width: 60px;
  border-radius: 100px;
  display: block;
  position: fixed;
  bottom: 70px;
  right: 70px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.button__image {
  height: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 18px;
  margin-top: 17px;
}

.button__image-contacts {
  width: 30px;
  margin: 14px 11px;
}

.logo {
  display: block;
  width: 100px;
}

.logo__footer {
  width: 60px;
}

.arrow {
  height: 100%;
}

.icon {
  width: 100px;
  height: 100px;
}

.dropdown {
  float: left;
  position: relative;
}

.dropdown__button {
  border: none;
  background: none;
  font-weight: 700;
  color: #000000;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dropdown__button:hover {
  color: #FF0000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dropdown__block {
  background: #FF0000;
  border-radius: 5px;
  padding: 0 15px;
}

.dropdown__arrow {
  width: 0;
  height: 0;
  margin: auto;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #FF0000;
}

.dropdown__content {
  position: absolute;
  min-width: 100px;
  margin-top: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dropdown__link {
  float: none;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
  white-space: pre;
  border-bottom: #FFFFFF solid 1px;
  padding: 10px 0;
}

.dropdown__link:last-child {
  border: none;
}

.dropdown__link:hover {
  color: #000000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dropdown:hover .dropdown__content {
  display: block;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  padding-top: 30px;
}

.header__navbar {
  width: 50%;
  min-width: 500px;
  margin-top: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}

.header__phone {
  font-size: 18px;
  color: #000000;
}

.header__email {
  font-size: 12px;
  color: #000000;
}

.header__form {
  width: 45%;
}

.header__text {
  width: 50%;
}

.header__hero {
  margin: 15% 0 20%;
}

.header__categories {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.header__item {
  color: #000000;
  border: #000000 solid 1px;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
}

.header__item:hover {
  border-color: #FF0000;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 200px;
}

.chain-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  margin-bottom: 200px;
}

.chain-list__stripe {
  margin-left: 9px;
  margin-right: -9px;
  display: block;
  height: auto;
  width: 1px;
  background: #000000;
}

.chain-list__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.chain-list__block:last-child {
  margin-bottom: 0;
}

.chain-list__marker {
  width: 20px;
  height: 12px;
  background: #FF0000;
  border-radius: 5px;
  margin: auto 30px auto 0;
}

.chain-list__item {
  border: #000000 solid 1px;
  border-radius: 5px;
  padding: 20px 30px;
  width: 100%;
}

.chain-list__item span {
  font-weight: 700;
}

.chemicals {
  margin-bottom: 200px;
}

.chemicals__list {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin-top: 10px;
}

.chemicals__item {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 25px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chemicals__formula {
  color: #808080;
}

.procedures {
  margin-bottom: 200px;
}

.procedures__list {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin-top: 10px;
}

.procedures__list .chain-list__marker {
  margin: auto 0;
}

.procedures__item {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 25px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.heading {
  color: white;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 20px;
  color: #000000;
}

.heading__subtext {
  color: #808080;
  font-size: 24px;
  margin-top: -20px;
  margin-bottom: 80px;
  max-width: 800px;
}

.heading__subtext-top {
  color: #FF0000;
  border-radius: 5px;
  font-size: 28px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 20px;
  max-width: 700px;
}

.heading__subtext-bottom {
  max-width: 500px;
  color: #808080;
  font-size: 20px;
  margin-bottom: 20px;
}

.heading__article {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: 30px;
}

.heading__article-right {
  margin-left: 0;
  margin-right: 30px;
}

.about {
  margin-bottom: 200px;
}

.about__content {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.about__picture {
  display: block;
  width: 100%;
  height: 83%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  margin-bottom: 30px;
}

.about__benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__item {
  width: 30%;
  text-align: center;
  border-right: #000000 1px solid;
  padding-right: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.about__item:last-child {
  border-right: none;
}

.about__item span {
  font-weight: 700;
}

.main__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__heading-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.contacts__time {
  color: #808080;
}

.contacts__weekend {
  color: #FF0000;
}

.contacts__content {
  width: 50%;
  padding: 0 80px;
}

.contacts__input {
  width: 100%;
  margin-bottom: 30px;
  padding: 15px;
  border: none;
  border-bottom: #000000 solid 1px;
  outline: none;
}

.contacts__input:last-of-type {
  margin-bottom: 60px;
}

.contacts__paragraph {
  font-size: 16px;
}

.contacts__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: #000000 solid 1px;
  padding: 15px;
}

.contacts__block:last-child {
  border-bottom: none;
}

.footer {
  background: #212121;
  padding: 30px 0 0;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: #464A4C solid 1px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.footer__contacts {
  color: #FFFFFF;
  list-style: none;
  margin-left: -30px;
  font-size: 14px;
}

.footer__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  font-size: 14px;
}

.footer__item {
  list-style: none;
  font-weight: 700;
}

.footer__bottom {
  margin: auto;
  color: #FFFFFF;
  width: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__paragraph {
  font-size: 14px;
}
