@import "_reset";

html, body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
  }

.footer {
    flex-shrink: 0;
  }

a {
    text-decoration: none;
    transition: 0.5s;
    color: #FFFFFF;
    &:hover {
        color: #FF0000;
        transition: 0.5s;
    }
}

p {
    font-size: 18px;
}

.hidden {
    display: none;
    cursor: default;
}
.opacity-0 {
    opacity: 0;
    cursor: default;
    transition: all 0.2s linear; 
}  

.z-index-99 {
    z-index: 99;
}

.wrapper {
    max-width: 1180px;
    padding: 0 20px;
    margin: auto;
}

.button {
    background: #FF0000;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 700;
    padding: 7px 20px;
    display: block;
    margin: auto;
    margin-top: 0;
    font-size: 22px;
    transition: 0.5s;
    &:hover {
        background: #FFFFFF;
        color: #000000;
        transition: 0.5s;
    }
    &__container {
        position: fixed;
        bottom: 70px;
        transition: all 0.2s linear; 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 130px;
    }
    &__socials {
        border-radius: 0 100px 100px 0;
        display: block;
        transition: all 0.2s linear; 
        padding-right: 10px;
        &-whatsapp {
            background: #128C7E;
        }
        &-telegram {
            background: #4995BE;
        }
    }
    &__contacts {
        font-size: 16px;
    }
    &__top {
        background: #FF0000;
        height: 60px;
        width: 60px;
        border-radius: 100px;
        display: block;
        position: fixed;
        bottom: 70px;
        right: 70px;
        transition: all 0.2s linear; 
    }
    &__image {
        height: 20px;
        justify-content: space-between;
        margin-left: 18px;
        margin-top: 17px;
        &-contacts {
            width: 30px;
            margin: 14px 11px;
        }
    }
}

.logo {
    display: block;
    width: 65px;
    border-radius: 5px;
    margin-top: -7px;
    &__footer {
        width: 60px;
    }
}

.arrow {
    height: 100%;
}

.icon {
    width: 100px;
    height: 100px;
}

.dropdown {
    float: left;
    &__button {
        border: none;
        font-weight: 700;
        display: block;
        text-align: center;
        padding: 9px 0;
        margin-top: -10px;
        cursor: pointer;
        transition: 0.5s;
        border-radius: 5px;
        color: #000000;
        &-index {
            color: #FFFFFF;
        }
        &:hover {
            color: #FF0000;
            transition: 0.5s;
        }
    }
    &__block {
        background: #FF0000;
        border-radius: 5px;
        padding: 0 20px;
    }
    &__arrow {
        width: 0; 
        height: 0; 
        margin: auto;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #FF0000;
    }
    &__content {
        position: absolute;
        min-width: 100px;
        margin-top: 10px;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.5s;
    }
    &__link {
        float: none;
        display: block;
        transition: 0.5s;
        text-align: center;
        white-space: pre;
        border-bottom: #FFFFFF solid 1px;
        padding: 10px 0;
        &:last-child {
            border: none;
        }
        &:hover {
            color: #000000;
            transition: 0.5s;
        }
    }
    &:hover .dropdown__content {
        display: block;
    }
}

.header {
    &-withImage {
        background: linear-gradient(360deg, #000000AD, #000000AD), url(../img/hero.jpg) center center / cover no-repeat;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        margin: auto;
        padding-top: 30px;
    }
    &__navbar {
        width: 60%;
        min-width: 500px;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__main {
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
    }
    &__phone {
        font-size: 18px;
        color: #000000;
        &-index {
            color: #FFFFFF;
        }
    }
    &__email {
        font-size: 12px;
        color: #000000;
        &-index {
            color: #FFFFFF;
        }
    }
    &__form {
        width: 45%;
        padding: 0 30px;
        border-radius: 5px;
    }
    &__text {
        width: 50%;
    }
    &__hero {
        margin: 100px 0;
    }
    &__categories {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 50px;
        &-radio {
            grid-template-columns: repeat(4, 1fr);
            margin-bottom: 50px;
        }
    }
    &__item {
        color: #FFFFFF;
        border-radius: 5px;
        padding: 20px;
        text-align: center;
        background: #FF0000;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        &-index {
            background: #ECECECCE;
            color: #000000;
            &:hover {
                color: #FF0000;
            }
        }
        &:hover {
            color: #000000;
        }
    }
}

.companies {
    margin: 0 auto 100px;
    max-width: 850px;
    &__list {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        display: block;
        object-fit: contain;
        height: 60px;
    }
}

.experience {
    margin-bottom: 100px;
    &__article {
        font-weight: 700;
        text-align: center;
        font-size: 20px;
        margin-bottom: 40px;
    }
    &__container {
        background: #ECECEC;
        width: 100%;
        &-inner {
            display: flex;
            justify-content: space-between;
            padding: 30px 20px;
        }
        &-white {
            background: #FFFFFF;
        }
    }
    &__image {
        border-radius: 5px;
        width: 30%;
        object-fit: cover;
        height: 200px;
    }
    &__heading {
        font-weight: 700;
    }
    &__text {
        font-size: 18px;
    }
    &__block {
        width: 60%;
        display: flex;
        flex-direction: column;
        margin: auto;
    }
}

.hero {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
}

.chain-list {
    display: flex;
    height: 100%;
    margin-bottom: 200px;
    &__stripe {
        margin-left: 9px;
        margin-right: -10px;
        display: block;
        height:auto;
        width: 1px;
        background: #000000;
    }
    &__block {
        display: flex;
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__heading {
        font-weight: 700;
        margin-bottom: 10px;
    }
    &__container {
        width: 100%;
    }
    &__list {
        width: 100%;
    }
    &__unit {
        width: 100%;
        &:last-child {
            margin-bottom: -15px;
        }
    }
    &__marker {
        width: 20px;
        height: 12px;
        background: #FF0000;
        border-radius: 5px;
        margin: auto 30px auto 0;
    }
    &__item {
        border: #000000 solid 1px;
        border-radius: 5px;
        padding: 20px 30px;
        width: 100%;
        font-size: 18px;
        & span {
            font-weight: 700;
        }
    }
}

.inclusion {
    &__container {
        margin-top: 10px;
    }
    &__block {
        display: flex;
        justify-content: space-between;
        border: #000000 solid 1px;
        border-radius: 5px;
        padding: 20px 30px;
        margin-bottom: 30px;
        &-negative {
            color: #FF0000;
            border-color: #FF0000;
        }
    }
    &__text {
        font-size: 18px;
        & span {
            font-weight: 700;
        }
    }
    &__character {
        font-size: 40px;
        margin: auto 0;
        line-height: 0.5;
    }
}

.chemicals {
    margin-bottom: 200px;
    &__list {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 10px;
    }
    &__item {
        border: 1px solid #000000;
        border-radius: 5px;
        padding: 25px 30px;
        display: flex;
        justify-content: space-between;
        font-size: 18px;
    }
    &__formula {
        color: #808080;
        font-size: 18px;
    }
}

.procedures {
    margin-bottom: 200px;
    &__list {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 10px;
        & .chain-list__marker {
            margin: auto 0;
        }
    }
    &__item {
        border: 1px solid #000000;
        border-radius: 5px;
        padding: 25px 30px;
        display: flex;
        font-size: 18px;
        justify-content: space-between;
    }
}

.trust {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    &__container {
       &-bigger {
        width: 40%;
       } 
    }
    &__item {
        display: flex;
        margin-bottom: 60px;
        flex-direction: column;
    }
    &__icon {
        width: 50px;
        margin: 0 auto 15px;
    }
    &__text {
        text-align: center;
    }
    &__index {
        max-width: 800px;
        margin: 0 auto 50px;
    }
}

.article {
    &__heading {
        font-weight: 700;
        font-size: 32px;
        text-align: center;
        max-width: 800px;
        margin: auto;
        margin-bottom: 30px;
        &:first-child {
            margin-top: 30px;
        }
    }
    &__container {
        background: #ECECEC;
        width: 100%;
        padding: 20px 0 30px;
        margin-bottom: 30px;
    }
    &__block {
        font-size: 18px;
        &:last-child {
            margin-bottom: -20px;
        }
    }
    &__paragraph {
        font-size: 18px;
        &:last-child {
            margin-bottom: 20px;
        }
    }
    &__image {
        object-fit: cover;
        width: 100%;
        border-radius: 5px;
    }
}   

.heading {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
    color: #FFFFFF;
    &__subtext {
        color: #808080;
        font-size: 24px;
        margin-top: -20px;
        margin-bottom: 80px;
        max-width: 800px;
        &-top {
            color: #FF0000;
            border-radius: 5px;
            font-size: 28px;
            width: fit-content;
            margin-bottom: 20px;
            max-width: 700px;
        }
        &-bottom {
            max-width: 500px;
            color: #FFFFFF;
            font-size: 20px;
            margin-bottom: 20px;
        }
    }
    &__article {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 20px;
        text-align: center;
        &-side {
            margin-top: 50px;
            margin-bottom: 50px;
        }
        &-index {
            margin-left: 30px;
        }
        &-right {
            margin-left: 0;
            margin-right: 30px;
        }
    }
}

.about {
    margin-bottom: 100px;
    &__content {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(2, 1fr); 
    }
    &__picture {
        display: block;
        width: 100%;
        height: 83%;
        object-fit: cover;
        border-radius: 5px;
        margin-bottom: 30px;
    }
    &__benefits {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 30%;
        text-align: center;
        border-right: #000000 1px solid;
        padding-right: 30px;
        align-items: center;
        margin-bottom: 30px;
        &:last-child {
            border-right: none;
        }
        span {
            font-weight: 700;
        }
    }
}

.main {
    flex: 1 0 auto;
    &-index {
        margin-top: 100px;
    }
    &__heading {
        display: flex;
        &-right {
            justify-content: flex-end;
        }
    }
}

.contacts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    &__time {
        color: #808080;
    }
    &__weekend {
        color: #FF0000;
    }
    &__heading {
        text-align: center;
        font-size: 20px;
        color: #FFFFFF;
    }
    &__content {
        width: 50%;
        padding: 0 80px;
        margin: auto;
    }
    &__input {
        width: 100%;
        margin-bottom: 30px;
        padding: 15px;
        border: none;
        outline: none;
        background: #ECECECCE;
        border-radius: 5px;
    }
    &__paragraph {
        font-size: 14px;
        color: #FFFFFF;
        text-align: center;
        max-width: 180px;
        margin: 10px auto 0;
        line-height: 1.3;

    }
    &__block {
        display: flex;
        justify-content: space-between;
        border-bottom:#000000 solid 1px;
        padding: 15px;
        &:last-child {
            border-bottom: none;
        }
    }
}

.footer {
    background: #212121;
    padding: 30px 0 0;
    flex-shrink: 0;
    &__top {
        display: flex;
        justify-content: space-between;
        border-bottom: #464A4C solid 1px;
        margin-bottom: 15px;
        padding-bottom: 15px;
    }
    &__contacts {
        color: #FFFFFF;
        list-style: none;
        margin-left: -30px;
        font-size: 14px;
    }
    &__navbar {
        display: flex;
        justify-content: space-between;
        width: 50%;
        font-size: 14px;
    }
    &__item {
        list-style: none;
        font-weight: 700;
    }
    &__paragraph {
        font-size: 14px;
        text-align: center;
        padding: 0 0 15px;
        margin: auto;
        color: #FFFFFF;
    }
}
