@import "_reset";

html, body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    transition: 0.5s;
    color: #FFFFFF;
    &:hover {
        color: #FF0000;
        transition: 0.5s;
    }
}

p {
    font-size: 18px;
}

.wrapper {
    max-width: 1180px;
    padding: 0 20px;
    margin: auto;
}

.button {
    background: #FF0000;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 700;
    padding: 7px 20px;
    display: block;
    margin: auto;
    transition: 0.5s;
    &:hover {
        background: #FFFFFF;
        color: #000000;
        transition: 0.5s;
    }
    &__top {
        background: #FF0000;
        height: 60px;
        width: 60px;
        border-radius: 100px;
        display: block;
        position: fixed;
        bottom: 70px;
        right: 70px;
        display: none;
    }
    &__image {
        height: 20px;
        justify-content: space-between;
        margin-left: 18px;
        margin-top: 17px;
    }
}

.logo {
    display: block;
    width: 100px;
    &__footer {
        width: 60px;
    }
}

.arrow {
    height: 100%;
}

.header {
    background: linear-gradient(360deg, #00000090, #00000090), url(../img/hero.jpg) center center / cover no-repeat;
    height: 100vh;
    max-height: 2160px;
    margin-bottom: 100px;
    &__top {
        display: flex;
        justify-content: space-between;
        margin: auto;
        padding-top: 30px;
    }
    &__navbar {
        width: 50%;
        min-width: 500px;
        margin-top: 7px;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        list-style: none;
    }
    &__link {
        font-weight: 700;
        font-size: 16px;
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__phone {
        font-size: 18px;
    }
    &__email {
        font-size: 12px;
    }
    &__hero {
        margin-top: 30vh;
    }
}

.heading {
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
    &__subtext-top {
        background: #00000090;
        color: #FFFFFF;
        padding: 7px 20px;
        border-radius: 5px;
        font-size: 20px;
        width: fit-content;
        margin: auto;
        text-align: center;
        margin-bottom: 20px;
    }
    &__subtext-bottom {
        color: #FFFFFF;
        font-size: 20px;
        text-align: center;
        max-width: 700px;
        margin: auto;
        margin-bottom: 20px;
    }
    &__article {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 20px;
        margin-left: 30px;
        &-right {
            margin-left: 0;
            margin-right: 30px;
        }
    }
}

.about {
    margin-bottom: 200px;
    &__content {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(2, 1fr); 
    }
    &__picture {
        display: block;
        width: 100%;
        height: 83%;
        object-fit: cover;
        border-radius: 5px;
        margin-bottom: 30px;
    }
    &__benefits {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 30%;
        text-align: center;
        border-right: #000000 1px solid;
        padding-right: 30px;
        align-items: center;
        margin-bottom: 30px;
        &:last-child {
            border-right: none;
        }
        span {
            font-weight: 700;
        }
    }
}

.main {
    &__heading {
        display: flex;
        &-right {
            justify-content: flex-end;
        }
    }
}

.categories {
    margin-bottom: 200px;
    &__grid {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3, 1fr); 
    }
    &__card {
        border: #000000 1px solid;
        min-height: 200px;
        border-radius: 5px;
        padding: 15px 15px 0 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__heading {
        font-weight: 700;
    }
    &__list {
        list-style: none;
    }
    &__link {
        color: #808080;
    }
    &__item {
        &::before {
            content: "\2022";
            color: #808080;
            font-weight: 700;
            display: inline-block;
            width: 1em;
            margin-left: -1.5em;
        }
    }
    &__heading {
        color: #000000;
    }
}

.contacts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    &__time {
        color: #808080;
    }
    &__weekend {
        color: #FF0000;
    }
    &__content {
        width: 50%;
        padding: 0 80px;
    }
    &__input {
        width: 100%;
        margin-bottom: 30px;
        padding: 15px;
        border: none;
        border-bottom: #000000 solid 1px;
        outline: none;
        &:last-of-type {
            margin-bottom: 60px;
        }
    }
    &__paragraph {
        font-size: 16px;
    }
    &__block {
        display: flex;
        justify-content: space-between;
        border-bottom:#000000 solid 1px;
        padding: 15px;
        &:last-child {
            border-bottom: none;
        }
    }
}

.footer {
    background: #212121;
    padding: 30px 0 0;
    &__top {
        display: flex;
        justify-content: space-between;
        border-bottom: #464A4C solid 1px;
        margin-bottom: 15px;
        padding-bottom: 15px;
    }
    &__contacts {
        color: #FFFFFF;
        list-style: none;
        margin-left: -30px;
        font-size: 14px;
    }
    &__navbar {
        display: flex;
        justify-content: space-between;
        width: 50%;
        font-size: 14px;
    }
    &__item {
        list-style: none;
        font-weight: 700;
    }
    &__bottom { 
        margin: auto;
        color: #FFFFFF;
        width: 440px;
        display: flex;
        justify-content: space-between;
    }
    &__paragraph {
        font-size: 14px;
    }
}
