@import "_reset";

html, body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    transition: 0.5s;
    color: #FFFFFF;
    &:hover {
        color: #FF0000;
        transition: 0.5s;
    }
}

p {
    font-size: 18px;
}

.wrapper {
    max-width: 1180px;
    padding: 0 20px;
    margin: auto;
}

.button {
    background: #FF0000;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 700;
    padding: 7px 20px;
    display: block;
    margin: auto;
    margin-top: 0;
    font-size: 22px;
    transition: 0.5s;
    &:hover {
        background: #FFFFFF;
        color: #000000;
        transition: 0.5s;
    }
    &__contacts {
        font-size: 16px;
    }
    &__header {
        height: fit-content;
        margin-right: 0;
    }
    &__top {
        background: #FF0000;
        height: 60px;
        width: 60px;
        border-radius: 100px;
        display: block;
        position: fixed;
        bottom: 70px;
        right: 70px;
        transition: all 0.5s linear;
        &-hidden {
            display: none;
            cursor: default;
        }
        &-opacity {
            opacity: 0;
            cursor: default;
        }   
    }
    &__image {
        height: 20px;
        justify-content: space-between;
        margin-left: 18px;
        margin-top: 17px;
    }
}

.logo {
    display: block;
    width: 100px;
    &__footer {
        width: 60px;
    }
}

.arrow {
    height: 100%;
}

.dropdown {
    float: left;
    position: relative;
    &__button {
        border: none;
        background: none;
        font-weight: 700;
        color: #000000;
        font-family: inherit;
        margin: 0;
        cursor: pointer;
        transition: 0.5s;
        &:hover {
            color: #FF0000;
            transition: 0.5s;
        }
    }
    &__block {
        background: #FF0000;
        border-radius: 5px;
        padding: 0 15px;
    }
    &__arrow {
        width: 0; 
        height: 0; 
        margin: auto;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #FF0000;
    }
    &__content {
        position: absolute;
        min-width: 100px;
        margin-top: 10px;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        transition: 0.5s;
    }
    &__link {
        float: none;
        display: block;
        transition: 0.5s;
        text-align: center;
        white-space: pre;
        border-bottom: #FFFFFF solid 1px;
        padding: 10px 0;
        &:last-child {
            border: none;
        }
        &:hover {
            color: #000000;
            transition: 0.5s;
        }
    }
    &:hover .dropdown__content {
        display: block;
    }
}

.header {
    height: 100vh;
    margin-bottom: 100px;
    &__top {
        display: flex;
        justify-content: space-between;
        margin: auto;
        padding-top: 30px;
    }
    &__navbar {
        width: 50%;
        min-width: 500px;
        margin-top: 7px;
        display: flex;
        justify-content: space-between;
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__main {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    &__phone {
        font-size: 18px;
        color: #000000;
    }
    &__email {
        font-size: 12px;
        color: #000000;
    }
    &__hero {
        margin-top: 25vh;
    }
    &__categories {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(6, 1fr);
    }
    &__item {
        color: #000000;
        border: #000000 solid 1px;
        border-radius: 5px;
        text-align: center;
        padding: 7px 20px;
        &:hover {
            border-color: #FF0000;
        }
    }
}

.heading {
    color: white;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
    color: #000000;
    &__subtext-top {
        color: #000000;
        border-radius: 5px;
        font-size: 28px;
        width: fit-content;
        margin-bottom: 20px;
        max-width: 700px;
    }
    &__subtext-bottom {
        max-width: 500px;
        color: #808080;
        font-size: 20px;
        margin-bottom: 20px;
    }
    &__article {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 20px;
        margin-left: 30px;
        &-right {
            margin-left: 0;
            margin-right: 30px;
        }
    }
}

.about {
    margin-bottom: 200px;
    &__content {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(2, 1fr); 
    }
    &__picture {
        display: block;
        width: 100%;
        height: 83%;
        object-fit: cover;
        border-radius: 5px;
        margin-bottom: 30px;
    }
    &__benefits {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 30%;
        text-align: center;
        border-right: #000000 1px solid;
        padding-right: 30px;
        align-items: center;
        margin-bottom: 30px;
        &:last-child {
            border-right: none;
        }
        span {
            font-weight: 700;
        }
    }
}

.main {
    &__heading {
        display: flex;
        &-right {
            justify-content: flex-end;
        }
    }
}

.contacts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    &__time {
        color: #808080;
    }
    &__weekend {
        color: #FF0000;
    }
    &__content {
        width: 50%;
        padding: 0 80px;
    }
    &__input {
        width: 100%;
        margin-bottom: 30px;
        padding: 15px;
        border: none;
        border-bottom: #000000 solid 1px;
        outline: none;
        &:last-of-type {
            margin-bottom: 60px;
        }
    }
    &__paragraph {
        font-size: 16px;
    }
    &__block {
        display: flex;
        justify-content: space-between;
        border-bottom:#000000 solid 1px;
        padding: 15px;
        &:last-child {
            border-bottom: none;
        }
    }
}

.footer {
    background: #212121;
    padding: 30px 0 0;
    &__top {
        display: flex;
        justify-content: space-between;
        border-bottom: #464A4C solid 1px;
        margin-bottom: 15px;
        padding-bottom: 15px;
    }
    &__contacts {
        color: #FFFFFF;
        list-style: none;
        margin-left: -30px;
        font-size: 14px;
    }
    &__navbar {
        display: flex;
        justify-content: space-between;
        width: 50%;
        font-size: 14px;
    }
    &__item {
        list-style: none;
        font-weight: 700;
    }
    &__bottom { 
        margin: auto;
        color: #FFFFFF;
        width: 440px;
        display: flex;
        justify-content: space-between;
    }
    &__paragraph {
        font-size: 14px;
    }
}
